body {
    font-family: "avenir next", sans-serif;
    font-weight: normal;
    background-color: white;
}

.peer-form {
    width: 600px;
    height: 900px;
    padding: 50px;
    border: 1px solid white;
    background-color: white;
    box-sizing: border-box;
    margin-left: 460px;

    /* width: 100%;
    height: 70%;
    margin-left:460px;
    border: 1px solid black;
    padding: 50px; */
}

.error_message {
  display: inline-flex;
  flex-direction: row;
  margin-left: 200px;
  color: red;
  width: 60%;
  font-size: 14px;
  text-align: left;
}

.hidden {
  display: none;
}